*
{
margin: 0;
padding:0;
}

@font-face
{
font-family: funFont;
src:url("font_style/GoodDog.otf");
}

.title
{
font-size:70px;
font-family: funFont;
display:inline-block;
margin-right: 20px;
}

#mission 
{
font-family: funFont;
font-size: 50px;
text-decoration:underline;
}

h2 
{
font-family: funFont;
font-size: 50px;
text-decoration:underline;
}

.title::first-letter 
{
color:red;
}


.center_img
{

margin-top:20px;
margin-bottom:20px;
border: 10px solid white;
/* background-image: url("wko.jpg"); 
background-size:cover;
background-repeat:no-repeat;*/
width:745px;
height:500px;
overflow: auto;
box-shadow: 3px 3px 5px 6px;
position:relative;
left:10%;

}


div img
{
width: 100%;
height: 100%;
}

.banner
{
background-image: url("samplebanner.jpg");
width:100%;
height:25%;
background-repeat:repeat-x;



}
.wrapper
{
background-color:white;
width:100%;
height:100%;
text-align:center;
overflow:auto;
}

.menu
{
margin-top:10px;
overflow:auto;
background-color:#BAEBEF;
height: 42px;
width:75%;
margin-left:auto;
margin-right:auto;
border-radius: 20px;
}

ul
{
text-align:center;
}

.linkmenu
{
display:inline;
list-style:none;
padding: 5px;
margin-left:4%;
margin-right:4%

}

.linkmenupic
{
display:inline;
list-style:none;
margin-left:4%;
margin-right:4%
}

a
{
font: 30px funFont;
text-decoration:none;
}

a:hover
{
	color:blue;
}

#feed
{
height:583px;
width:25%;
float:right;
margin-top:20px;
display:inline-block;
background-color:#A3E000;
display:inline;
margin-right:60px;
border:dashed black 5px;
}

#boxwrapper
{
width:1440px;
position:relative;
border: solid black;
display:inline-block;
}

#box1,#box2,#box3
{
background-color:teal;
width:300px;
height:300px;
display:inline-block;
border:dashed black 5px;
margin: 25px;
border-radius: 8px;
position:relative;
}

a.btn
{
display: inline-block;
	color: #666;
	background-color: #eee;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	position:relative;
	top:250px;
	text-decoration:none;
}
/* plain button */

a.btn:hover 
{
	background-color: #e3e3e3;
	border-color: rgba(0,0,0,0.5);
}
	
a.btn:active 
{
	background-color: #CCC;
	border-color: rgba(0,0,0,0.9);
}

/* blue button */

a.btn.btn-blue {
	background-color: #699DB6;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-blue:hover {
		background-color: #4F87A2;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

/* red button */

a.btn.btn-red {
	background-color: #E48681;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #FFF;
}

	a.btn.btn-red:hover {
		background-color: #DA4F49;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-red:active {
		background-color: #B32C24;
		border-color: rgba(0,0,0,0.9);
	}


div.tab_slider
{
	position:fixed;
	width: 150px;
	height: 43px;
	top:200px;
	left:-107px;
	z-index:9999;
}

div.tab_slider a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    text-indent: -999em;
    background: 0 0 url('http://s9.postimg.org/okyi00edn/fb_like_us.gif') no-repeat;
}

div.tab_slider a:hover {
    background-position: 0 -43px;
}

div.menu_slider
{
/*	position:fixed;
	width: 300px;
	height: 500px;
	top:250px;
	right:-220px;
	background-color:teal;
	z-index:9999; */
	
	position: fixed;
	top: 250px;
	z-index: 9999;
	width: 300px;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	font-family: "funFont";
	font-size: 1.6em;
	line-height: .5em;
	-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	padding-top: 20px;
	left: -230px; 
}

div.menu_slider  a
{
	display:block;
	width: 100%;
    height: 100%;
    overflow: hidden;
}

#submitcomment {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.contactli {
list-style-type: none;
padding: 10px;}


#dsq-2
{
margin-left:25px;
}

#disqus_thread
{
   height: 150px;
   width: 300px;
   display: inline-block;
  
}

#disques_thread #disqus
{
width:auto;
display:inline-block;
padding-top: 300px;
}

.wishForm{
text-align: left;
width:350px;
display:inline-block;
margin: 25px;
padding: 25px;
}

#submitcomment {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#april {
	display: block;
    margin-left: auto;
    margin-right: auto;
	height: 325px;
	width: 325px;
}

#aprilribbon {
	height: 29px;
	width: 31px;
	vertical-align: middle;
}

.contactli
{
font-size:30px;
font-family: funFont;
text-decoration: none;
}

h3{
font-size:40px;
font-family: funFont;
text-decoration: none;
}