*
{
margin: 0;
padding:0;
}

@font-face
{
	font-family: funFont;
	src:url("font_style/GoodDog.otf");
}

.center_img
{

margin-top:20px;
margin-bottom:20px;
border: 10px solid white;
/* background-image: url("wko.jpg"); 
background-size:cover;
background-repeat:no-repeat;*/
width:745px;
height:500px;
display: inline-block;
overflow: auto;
}


div img
{
width: 100%;
height: 100%;
}

.banner
{
background-image: url("samplebanner.jpg");
width:100%;
height:25%;
background-repeat:repeat-x;



}
.wrapper
{
background-color:yellow;
width:100%;
height:100%;
text-align:center;
overflow:auto;

}

.menu
{
overflow:auto;
background-color:maroon;
height: 42px;
}

ul
{
text-align:center;
}

.linkmenu
{
display:inline;
background-color:red;
list-style:none;
padding: 5px;
margin-left:4%;
margin-right:4%

}

a
{
font: 30px funFont;

}

#feed
{
width:35%;
margin: auto;
float:right;
margin-top:20px;
display:inline-block;
height:545px;
}

#boxwrapper
{
width:1440px;
position:relative;
border: solid black;
display:inline-block;
}

#box1,#box2,#box3
{
background-color:teal;
width:300px;
height:300px;
display:inline-block;
border:solid black 2px;
margin: 25px;
}

#submitcomment {
	margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.contactli {
list-style-type: none;
padding: 10px;}

#april {
	float: right;
	height: 325px;
	width: 325px;
}