#sliderclass1 {
	background: url("images/home.png") 250px no-repeat;
}
#sliderclass2 {
	background: url("images/dollar.png") 250px no-repeat;
}
#sliderclass3 {
	background: url("images/present.gif") 250px no-repeat;
}
#sliderclass4 {
	background: url("images/mail.gif") 250px no-repeat;
}